.DeckListItem{
    // background-color: green;
    // width: 150px;
}


  /* styles.css (or your preferred CSS file) */
.deck-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }
  
  