// DeckList component itself
.DeckList{
    max-width: 95vw;
    margin: auto;
}


// List of individal decks
.deck-list {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
  
  