/* Navbar.scss */

.navbar-fade{
    background: linear-gradient(to bottom, rgb(99, 99, 99) 60%, rgba(0, 0, 0, 0));
    padding-bottom: 2em;
}

.navbar {
    padding: 0.6em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;

    /* Style for the logo */
    .logo {
        font-size: 24px;
        letter-spacing: 0;
        span{
            color:goldenrod;
            font-weight: bold;
        }
    }
    
    a, .signout{
        text-decoration: none;
        color: white;
        
        &.active{
            color: orange;
            text-shadow: 0px 0px 10px rgba(255, 165, 0, 1);
            letter-spacing: 0.2px;
        }
    }
    
    /* Style for the navigation links */
    .nav-NavLinks {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        
        li{
            margin-right: 20px;
        }
        
        a:hover:not(.active), .signout:hover {
            cursor: pointer;
            color: goldenrod;
        }
    }
}
  
  