.App {
  text-align: center;
}
button{
  margin: 5px;
  padding: 3px 8px;
  font-size: 1.3em;
  border-radius: 5px;
  border: 1px solid black;
  background-color: goldenrod;
  
  &.delete-btn{
    background-color: rgb(220,0 , 0);
    color: white;
    &:hover:not(:disabled){
        background-color: rgb(255, 0, 0);
    }
  }

  &:hover{
      cursor: pointer;
      background-color: gold;
  }
  &:disabled{
    background-color: lightgray;
    color: gray;
    border-color: #EEE;

    &:hover{
      background-color: lightgray;
      color: gray;
      border-color: #EEE;
    }
  }
}